# Kosmo OS GRUB2 Boot Menu
set timeout=5
set default=0
set gfxmode=800x600x32
set gfxpayload=keep
insmod all_video
insmod vbe
insmod gfxterm
terminal_output gfxterm
set menu_color_normal=white/black
set menu_color_highlight=black/cyan

menuentry "Kosmo OS  [GUI 800x600]" {
    multiboot /boot/kernel.bin
    boot
}
menuentry "Kosmo OS  [Text mode]" {
    set gfxpayload=text
    multiboot /boot/kernel.bin gui=0
    boot
}
menuentry "Kosmo OS  [Safe 640x480]" {
    set gfxmode=640x480x32
    set gfxpayload=keep
    multiboot /boot/kernel.bin safe=1
    boot
}
menuentry "Reboot"    { reboot }
menuentry "Power Off" { halt   }
